footer {
  padding-top: 25%;
}

.socials {
  display: flex;
  padding: 5% 20%;
  justify-content: space-between;
}

.socials .fa{
  color: rgb(214, 214, 214);
  font-size: 1.3em;
}

.terms {
  display: flex;
  padding: 0% 20%;
  justify-content: space-between;
}

footer p {
  font-size: 0.9em;
}