.nav_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5%;
  color: white;
}

.nav li{
  display: inline-block;
  padding: 0% 2%;
  cursor: pointer;
}

.nav h1 {
  color: white;
}

.nav {
  flex: 1;
  text-align: right;
}

.nav button {
  padding: .6% 2%;
  background: darkblue;
  outline: 0;
  border: 0;
  border-radius: 17px;
  color: white;
  font-size: 14px;
}










/* Hide the Navigation when the screen is less than 600px */
@media (max-width: 700px){
  .nav li, button {
    display: none
  }
}



